body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
 header {
    background-color: #FF6347;
    padding: 10px;
  }
  
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  nav img {
    width: 50px;
    height: 50px;
  }
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  nav li {
    display: inline-block;
    margin-right: 20px;
  }
  
  nav a {
    text-decoration: none;
    color: black;
  }
  
  main {
    padding: 20px;
  }
  
  h1 {
    margin-bottom: 20px;
  }
  form{
    width: 80vw;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input[type="text"],
  textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
  }
  
  button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    width: 82vw;
    border-radius: 5px;
  }
  
  button:hover {
    background-color: #45a049;
  }
  
 footer {
    background-color: #FF6347;
    padding: 20px;
    text-align: center;
  }
  
  footer ul {
    list-style: none;
    margin: 10px 0;
    padding: 0;
  }
  
  footer li {
    display: inline-block;
    margin-right: 20px;
  }
  
  footer a {
    text-decoration: none;
    color: black;
  }
  